.page{
	margin-top: 0;
	font-family: "微软雅黑";
}
li{
	list-style: none;
}
a{
	color: white;
}
.yo_header{
	background:url(../img/bg_head_01.jpg) no-repeat ;	
	background-size:100% ;
	position: relative;
}
.yo_header h1 {
  font-size: 16px;
  color: white;
  padding: 12px 0;
  margin: 0;
  text-align: center;
}
.yo_header a {
  position: absolute;
  top: 25%;
  left: 5%;
  color: white;
}
.sj{
	display: block;
	width: 0;
	height: 0;
	border: 5px solid #1b1b1b;
	border-color: #1b1b1b transparent transparent; 
}
.rows{
	background:#d9d9d9 ;
	padding: 8px 0;
}
.rows ul{
  margin-top: 0;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.rows li{
  color: #7d7d7d;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.rows .yo_sell {
	color: #434343;
}

.yo_header b{
	position: absolute;
	bottom: -10px;
  	left: 82%;
}
.yo_search{
	position: relative;
	padding: 5px 0px;
}
.search_big{
	color: #959595;
	position: absolute;
	top: 10px;
  	left: 20px;
}

.cont{
	position: relative;
}
.cont .bg_img{
	position: absolute; 
	z-index:-1;
	top: 0;
	}
.logo_img{
	width: 35%;
	width: 35%;
    margin: 0 auto;
    padding-top: 50px;
	}
.lab{
  font-size: 20px;
  text-align: center;
  color: white;
  letter-spacing: 8px;
  font-weight: normal;
}
.cont p{
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	font-size: 15px;
}
.pho b {
  display: inline-block;
  width: 17px;
  height: 22px;
  background: url(../img/tel_03.png) no-repeat;
  background-size:100% ;
    margin-right: 8px;
}
.pho {
  border: 1px solid white;
  width: 65%;
  text-align: center;
  padding: 7px 0;
  margin: 50px auto 0px;
}
.pho a{
	font-size: 22px;
	vertical-align: bottom;
}
